header {
    background-color: var(--secondary);
}

header .logo {
    width: 60px;
}

header .burger-icon {
    color: white;
    font-size: 30px;
}

header .nav-item a {
    font-weight: 500;
    font-size: 18px;
    transition: .2s;
}

header .nav-item a:hover {
    color: var(--primary) !important;
}
