#hero {
    width: 100%;
    height: calc(100vh - var(--header-height));
    position: relative;
}

#hero .heroImage {
    filter: grayscale(0.4);
    height: 100%;
    position: absolute;
    width: 100%;
}

#hero .title {
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.566);
}

#hero a {
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
    padding: 6px;
    color: white;
    background-color: var(--primary);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.566);
    transition: 0.2s;
}

#hero a:hover {
    background-color: #b77a00;
    color: rgb(224, 244, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.875);
}
