#hero {
    width: 100%;
    height: calc(100vh - var(--header-height));
    position: relative;
}

#hero .heroImage {
    filter: grayscale(.4);
    height: 100%;
    position: absolute;
    width: 100%;
}

#hero .title {
    z-index: 1;
}

#hero a {
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
    padding: 6px;
    color: var(--secondary);
    background-color: var(--primary);
    transition: 0.2s;
}

#hero a:hover {
    background-color: #d0ae6a;
}
