#forgot-password {
    min-height: 100vh;
    background-color: var(--secondary-color);
}

#forgot-password .backhome img {
    width: 80px;
    margin-bottom: 40px;
}

#forgot-password .form-title {
    line-height: 1.5625rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.1px;
    color: var(--secondary-color);
}

#forgot-password .form-floating label {
    font-size: 14px;
    color: gray;
}

#forgot-password .forgot-password-btn {
    width: 100%;
}

#forgot-password .email-received {
    font-size: 16px;
    font-weight: 500;
}
