#reset-password {
    min-height: 100vh;
    background-color: var(--secondary-color);
}

#reset-password .backhome img {
    width: 80px;
    margin-bottom: 40px;
}

#reset-password .form-floating label {
    font-size: 14px;
    color: gray;
}

#reset-password .reset-btn {
    width: 100%;
}

