/* header */
header {
    margin-bottom: 50px
}

/* utilities classes */
.ls-1 {
    letter-spacing: 1px;
    font-size: 22px;
}

.min-height-100 {
    min-height: 100vh;
}

.fw-500 {
    font-weight: 500;
}

.invalid {
    border-color: red !important;
    box-shadow: 0 0 0 0.15rem rgba(236, 28, 28, 0.829) !important;
}

/* contents */
#classroom-cards {
    min-height: calc(100vh - (102px + 56px + 100px));
}

.classroomImage {
    height: 230px;
}


/* footer */

footer {
    margin-top: 50px;
}

#classroomFooter {
    background-color: var(--primary-color);
    flex-shrink: 0;
}

#classroomFooter > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px 5px;
}

.joinInput {
    width: 120px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
