/* header */
header {
    margin-bottom: 50px
}

/* utilities classes */
.ls-1 {
    letter-spacing: 1px;
    font-size: 22px;
}

.min-height-100 {
    min-height: 100vh;
}

.fw-500 {
    font-weight: 500;
}

/* contents */
#classroom-cards {
    min-height: calc(100vh - (102px + 56px + 100px));
}

.classroomImage {
    height: 230px;
}


/* footer */

footer {
    margin-top: 50px;
}

#classroomFooter {
    background-color: var(--primary-color);
    flex-shrink: 0;
}

#classroomFooter > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px 5px;
}
